KinectTest/KinectCPPExample/Debug/KinectCPPExample.tlog/
KinectTest/KinectCPPExample/Debug/KinectTest.tlog/
KinectTest/KinectCPPExample/Debug/x64/Debug/KinectCPPExample.tlog/
KinectTest/x64/
OpenCV/UserInterface/UserInterface/Debug/UserInterface/
OpenCV/UserInterface/UserInterface/Debug/UserInterface.tlog/